@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  :root {
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3rem 18rem;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1200px) {
  body {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 1rem;
  }
}
